.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
}

/* .local-error {
  padding: 2px 6px;
  border-radius: 4px;
} */

.high-error .accuracy-col span {
  font-weight: 500;
  color: #b91c1c;             /* Keep the red tone */
  background-color: #fdf2f2;  /* Very subtle pink background */
  border-radius: 3px;
  padding: 2px 4px;
}

.program-col {
  white-space: nowrap;
  overflow-x: auto;
  display: block;
  text-align: left;
  max-width: 200px;
}

.local-error td:not(.program-col), th:not(.program-col) {
    text-align: right;
    padding-left: 10px;
}

.local-error table {
  border-spacing: 0px 0px;
}

.local-error td {
  font-family: 'Ruda', sans-serif;
  color: gray;
}

.has-error td {
  color: black;
}

.no-explanations .explanation {
  display: none;
}

/* slightly darken the hovered row */
.local-error tbody tr:hover {
  background-color: #f3f4f6; /* Light gray background on hover */
  border-radius: 5px;
  transition: background-color 0.2s ease;
}
