/* ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
} */

.expressions {
  display: flex;
  flex-direction: column;
  /* put 10px space between items */
  gap: 2px;
}

.expressions-actual::-webkit-scrollbar {
  width: 11px !important;
  /* display: block; */
  scrollbar-color: var(--vscode-scrollbarSlider-background) var(--vscode-editor-background);
}

.expressions-actual {
  scrollbar-width: 11px !important;
  overscroll-behavior: contain; /* Don't scroll beyond set expressions table area */
}

.tex-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.tex-toggle .toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

/* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-checkbox:checked+.slider {
    background-color: #2196F3;
}

.toggle-checkbox:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.toggle-checkbox:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} */

/* flex container
  items float right
*/
.expression {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
  font-size: 16px;
  padding: 8px 4px 8px 4px;
  align-items: center;
}

/** center buttons in the rows with no stretch */
.expression>div {
  display: flex; /** center in row */
}
.expression>div button {
  margin: auto;
}

.expression>div>a {
  margin: auto;
}

.expression-text {
  font-family: 'Ruda', serif;
  align-self: center;
  cursor: pointer;
}
.expression button {
  font-size: 10px;
}

.analysis {
  font-family: 'Ruda', serif;
  width: 80px; /* Fixed width to prevent resizing */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: flex-end; /* Align text to the right */
}

.speedup {
  font-family: 'Ruda', serif;
  text-align: right;
  width: 65px; /* Fixed width to prevent resizing and aligning .analysis */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: flex-end; /* Align text to the right */
}

.expression-container.selected {
  background-color: var(--highlight); /* Highlight the selected expression */
}

.expand {
  /* fix the button text width so it doesn't change when the text changes */
  /* width: 25px;
  
  max-height: 1em;
  text-align: top; */
  /* font-size: large; */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* color: black; */
  /* margin: auto; */
}

.copy {
  cursor: pointer;
  font-size: .8em;
}
.expression-table .copy {
  margin-left: 6px;
}
.copy:active {
  background-color: var(--highlight);
  :root .tooltip {
    background-color: white;
  }
}

.dropdown {
  padding: 5px;
  padding-left: 9px;
  padding-top: 0px;
  /* large thick square dots on left border */
  /* border-left: 4px dotted #888; */
  margin-bottom: 5px;
  font-size: 10px;
}

.dropdown select {
  font-size: 10px;
}
.expression-table {
  display: flex;
  flex-direction: column;
}
.expressions {
  box-shadow: 0px 2px 2px 0px #ccc;
  clip-path: inset(0px 0px -4px 0px);
}
.expressions-actual {
  overflow-y: scroll;
  padding-top: 3px;
}

.expression-container:has(.dropdown) {
  margin-bottom: 15px;
  padding-bottom: 4px;
}

.expression-table-header-row {
  height: 40px;
  font-size: 12px;
  background-color: #fbf8f4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 10px;
  align-items: center;
}

.expand-header {
  font-weight: bold;
  font-size: 20px;
}

.checkbox-header {
  margin-left: 6px;
}
.expressions-header {
  margin-right: auto;
  margin-left: 6px;
}
.error-header {
  margin-right: 20px;
}
.speedup-header {
  margin-right: 86px;
}

.add-expression-top {
  display: flex;
  gap: 5px;
}
.add-expression-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.expression-table textarea {
  height: 1em;
  width: 50%;
  transition: all .3s ease;
}

.expression-table textarea:focus-visible, textarea.has-text {
  height: 5em;
  transition: all .3s ease;
}

.add-expression-dropdown {
  transition: all .3s ease;
  opacity: 0;
  max-height: 0;
}

.add-expression:has(textarea.has-text) .add-expression-dropdown {
  min-height: 2em;
  transition: all .3s ease-in-out;
  max-height: 50px;
  opacity: 1;
  height: 50px;
  overflow: auto;
}
/* } {
  background-color: orange;
  
} */

/* .add-expression-button {
} */

.add-expression button {
  font-size: 10px;
  padding: 7px 12px;
  font-weight: bold;
  border-radius: 6px;
  background-color: #a6e5eb;
}

.add-expression button:hover {
  background-color: #7fd3d9;
}

.add-expression button:disabled {
  background-color: #ccc;
}

.expand-header {
  margin-left: 5px;
}

.expand {
  margin-left: 5px;
}

.dropdown {
  margin-left: 17px;
  transition: all 1s ease-in;
}
.dropdown:hover {
  cursor: pointer;
}

.add-expression .checkbox {
  margin-left: 23px;
}

.expression-container:hover {
  outline: 2px solid var(--highlight);
  transition: none;
}
.expression-container {
  outline-offset: -2px;
  outline: 2px solid transparent;
  transition: outline .3s ease-out;
}

/* .expression-container.selected:not(:hover) {
  outline: 2px solid var(--highlight)
} */

.copy {
  opacity: 0;
  transition: opacity .1s ease-in
}

.expression-container:hover .copy {
  opacity: 1;
}

.expression-container:hover button {
  opacity: 1;
  transition: opacity .1s ease-in
}

.expression-container button {
  opacity: 0;
  transition: opacity .1s ease-in
}

/* .expression-container {
  &:hover {
    .copy {
      opacity: 1;
    }
    & button {
      opacity: 1;
      transition: opacity .1s ease-in
    }
  }
  & button {
    opacity: 0;
    transition: opacity .1s ease-in
  }
} */

.delete button {
  font-size: 7px;
}

.expand, .expand-header {
  user-select: none;
  margin-right: 0px;
}

.expression-name-container {
  display: flex;
  flex-direction: row;
  /* margin-right: auto; */
  flex: 1;
}

.expand:hover, .expand-header:hover {
  color: var(--foreground-color);
}

.dropdown .visualization {
  margin-left: 5px;
}

.add-expression-tex {
  width: 60%;
}

.expression-tex {
  max-width: 555px;
  overflow-x: auto;
  overflow-y: hidden;
}

.expression-name-container {
  flex: 1;
  max-width: 565px;
}

#showTexCheckbox {
  margin: 0;
  vertical-align: bottom;
  margin-left: 1px;
}