.gpu-fpx{
    border-radius: 10px;
    background-color: white;
}

.p-item{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.p-item-exception-found{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color:red
}

.p-item-exception-not-found{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    color:#8ff51b
}

.run-button{
    font-size: 12px;
    font-weight: bold;
    padding: 1.25px 5.5px;
    border-radius: 6px;
    background-color: #a6e5eb;
    opacity: 1!important;
}

.disabled-run-button{
    font-size: 12px;
    font-weight: bold;
    padding: 1.25px 5.5px;
    border-radius: 6px;
    background-color: grey;
    opacity: 1!important;
}

.more-info-button{
    font-size: 12px;
    font-weight: bold;
    padding: 1.25px 5.5px;
    border-radius: 6px;
    background-color: white;
    color: #3a00ff;
    opacity: 1!important;
}

.disabled-run-button:hover{
    font-size: 12px;
    font-weight: bold;
    padding: 1.25px 5.5px;
    border-radius: 6px;
    background-color: grey !important;
    opacity: 1!important;
}

.status{
    background-color: black;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    font-size: 12px;
}

.info-header{
    font-weight: bold;
    font-size: 12px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
}