@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

/* Use light mode in general; dark mode/VSCode-specific support is commented out below. */

body {
  --background-color:  #ffffff;
  --foreground-color: #000000;/* #3c3b3b);*/
  --foreground-light: #a9a9a9;
  --highlight: #bcbcbc7d;
  --foreground-extreme: #000000;
  --action-color: #3a00ff;
}

:root {
  --ui-color: #eeeeee;
  --ui-hover-color: #dddddd;
  --ui-focus-color: #dededebd;
  --ui-pressed-color: #656565;
  --foreground-deemphasize-color: gray;
}

/* @media (prefers-color-scheme: light) {
  body {
    --background-color: var(--vscode-editor-background, #f5f5f5);
    --foreground-color: var(--vscode-editor-foreground, #000000);
    --foreground-light: #a9a9a9;
    --highlight: #bcbcbc7d;
    --foreground-extreme: #000000;
    --action-color: #3a00ff;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--vscode-editor-background, rgb(16, 27, 37));
    --foreground-color: var(--vscode-editor-foreground, rgb(232, 232, 233));
    --foreground-light: var(--vscode-editor-foreground, #888888);
    --highlight: #bcbcbc70;
    --background-extreme: #ffffff;
  }
}

@media (prefers-color-scheme: light)  {
  :root {
    --ui-color: #eeeeee;
    --ui-hover-color: #dddddd;
    --ui-focus-color: #dededebd;
    --ui-pressed-color: #656565;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
  --ui-color: #313131;
  --ui-hover-color: #4b4b4b;
  --ui-focus-color: #1f1f1f;
  --ui-pressed-color: #a2a2a2;
  }
}

:root:has(.vscode-light) {
  --ui-color: #eeeeee;
    --ui-hover-color: #dddddd;
    --ui-focus-color: #dededebd;
    --ui-pressed-color: #656565;
    --foreground-deemphasize-color: gray;
  }
:root:has(.vscode-dark) {
  --ui-color: #313131;
  --ui-hover-color: #4b4b4b;
  --ui-focus-color: #1f1f1f;
  --ui-pressed-color: #a2a2a2;
  --foreground-deemphasize-color: gray;
  } */

body {
  color: var(--foreground-color);
  fill: var(--foreground-color);
  background-color: var(--background-color);
  font-family: "IBM Plex Serif", serif;
  padding: 0px;
  margin: 0px;
}


button, input, select, textarea {
  /* font-size: 12px; */
  background: var(--background-color);
  color: var(--foreground-color);
  border-radius: 2px;
  border-block-width: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: color-mix(in srgb, var(--foreground-color), transparent 40%);
}

input[type="checkbox"] {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

button, select {
  background: var(--ui-color);
  /* color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 90%), var(--background-color) 50%); */
}

select {
  font-family: 'IBM Plex Serif', serif;
  font-size: 10px;
}

button {
  font-family: 'Ruda', sans-serif;
  font-size: 10px;
}

button:disabled {
  color: var(--foreground-light) !important;
}

button:hover:not(:disabled), select:hover, option:hover {
  background: var(--ui-hover-color);
  /* color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 50%), var(--background-color) 50%); */
}

option {
  background: var(--background-color);
}

button:active:hover:not(:disabled) {
  background: var(--ui-pressed-color);
  /* color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 10%), var(--background-color) 50%); */
}

input[type="text"]:focus, select:focus {
  outline: var(--ui-focus-color);
  /* 1px solid color-mix(in srgb, var(--foreground-color), transparent 70%); */
}


.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "subheader subheader"
    "visualizations expressions"
    "visualizations expressions";
  height: 100vh; 
  grid-template-rows: 40px 50px 1fr 3em;
  grid-template-columns: 4fr 6fr; /*min(70%, 600px);*/
  overflow: hidden; /* Inner components manual set scroll, if needed */
}

.help-buttons {
  grid-area: help-buttons;
  border-right: 2px solid #5e5e5f1a;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.header {
  display:flex;
  grid-area: header; /*Place the header in the "header" grid area */
  justify-content: space-between; /* Align the components at the start and end of the header */
  align-items: center;
  font-family: Ruda;
  font-size: 11px;
  background-color: var(--foreground-color);
  color: var(--background-color);
  padding: 10px 25px;

  a {
    color: var(--background-color);
  }
  
  .app-name {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-family: 'Ruda';
    font-weight: 500;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    gap: 20px
  }

  .serverStatus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
    font-family: 'Ruda';
    width: 70px;
  }

  .icon {
    width: 1em; 
    height: 1em;
    fill: var(--foreground-color);
    margin: 0 5px -1px 3px;
  }

  a:hover .icon { 
    /* Open in external tab icon only shows on hover of link */
    fill: var(--background-color);
  }
}

.spec {
  grid-area: spec; /*Place the header in the "header" grid area */
  display: flex;
  flex-direction: column;
  /* border-bottom: 2px solid #5e5e5f1a; */
  /* probably will need to replace this border with a div */
  border-right: 2px solid #5e5e5f1a; 
  box-shadow: 0px 2px 2px 0px #ccc;
    clip-path: inset(0px 0px -4px 0px);
  /* padding-left: 5px; */
  
}
.table {
  flex-grow: 7;
  display:flex;
  flex-direction: column;
  height: 100%;
}

.expression-table {
  grid-area: expressions; /*Place the expression table in the "expressions" grid area

  padding-top: 5px;
  padding-right: 5px;
  /* overflow-y: scroll;
  scrollbar-color: var(--highlight) var(--background-color);
  scrollbar-width: thin; */
}

.grid-container > .visualizations {
  grid-area: visualizations; /* Place the visualization section in the "visualizations" grid area */
  margin-left: 25px;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.grid-container > .visualization > select {
  margin-bottom: 10px;
}

/* .split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
} */


a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  color: #2A6496;
  text-decoration: none;
}

a.action {
  color: var(--action-color);
  text-decoration: none;
  font-weight: 450;
}

.action {
  color: var(--action-color);
  text-decoration: none;
  font-weight: 450;
  cursor: pointer;
}

a.action:focus {
  outline: none;
}

.katex {
  font: normal 1em 'Ruda' !important;
}

.katex .mathnormal {
  font: normal 1em 'Ruda' !important;
}

.subheader {
  grid-area: subheader; /* Place the subheader in the "subheader" grid area */
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Three columns: flexible space, center item, flexible space */
  align-items: center; /* Center items vertically */
  padding: 10px 25px;
  font-size: 20px;
  background-color: var(--background-color);
  color: var(--foreground-color);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.07);
  /* Enables box shadow to show up over exp table (has background color) */
  position: relative;
}

.subheader .left-item {
  grid-column: 1; /* Place in the first column */
  font-size: 14px;
  color: var(--action-color);
  text-decoration: none;
}

/* .subheader .left-item:hover {
  text-decoration: underline;
} */

.subheader .center-item {
  grid-column: 2; /* Place in the center column */
  justify-self: center; /* Center the item within its grid cell */
  font-family: 'Ruda', sans-serif;
  font-weight: bold;
}

.grid-container {
  input,
  textarea {
    border: 1px solid #ccc;
    
    border-radius: 8px;
    font-size: smaller;
  }

  input {
    padding: 5px;
  }

  textarea {
    padding: 10px;
  }
}