@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

@media (prefers-color-scheme: light) {
  body {
    --background-color: var(--vscode-editor-background, #f5f5f5);
    --foreground-color: var(--vscode-editor-foreground, #000000);/* #3c3b3b);*/
    --foreground-light: #a9a9a9;
    --highlight: #bcbcbc7d;
    --foreground-extreme: #000000;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--vscode-editor-background, rgb(16, 27, 37));
    --foreground-color: var(--vscode-editor-foreground, rgb(232, 232, 233));
    --foreground-light: var(--vscode-editor-foreground, #888888);
    --highlight: #bcbcbc70;
    --background-extreme: #ffffff;
  }
}

@media (prefers-color-scheme: light)  {
  :root {
    --ui-color: #eeeeee;
    --ui-hover-color: #dddddd;
    --ui-focus-color: #dededebd;
    --ui-pressed-color: #656565;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
  --ui-color: #313131;
  --ui-hover-color: #4b4b4b;
  --ui-focus-color: #1f1f1f;
  --ui-pressed-color: #a2a2a2;
  }
}

:root:has(.vscode-light) {
  --ui-color: #eeeeee;
    --ui-hover-color: #dddddd;
    --ui-focus-color: #dededebd;
    --ui-pressed-color: #656565;
    --foreground-deemphasize-color: gray;
  }
:root:has(.vscode-dark) {
  /* invert the above colors */
  --ui-color: #313131;
  --ui-hover-color: #4b4b4b;
  --ui-focus-color: #1f1f1f;
  --ui-pressed-color: #a2a2a2;
  --foreground-deemphasize-color: gray;
  }

body {
  color: var(--foreground-color);
  fill: var(--foreground-color);
  background-color: var(--background-color);
  font-family: "IBM Plex Serif", serif;
  padding: 0px;
}

body {
  margin: 0px;
}


button, input, select, textarea {
  /* font-size: 12px; */
  background: var(--background-color);
  color: var(--foreground-color);
  border-radius: 2px;
  border-block-width: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: color-mix(in srgb, var(--foreground-color), transparent 40%);
}

input[type="checkbox"] {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

button, select {
  background: var(--ui-color);
  /* color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 90%), var(--background-color) 50%); */
}

select {
  font-family: 'IBM Plex Serif', serif;
  font-size: 10px;
}

button {
  font-family: 'Ruda', sans-serif;
  font-size: 10px;
}

button:disabled {
  color: var(--foreground-light) !important;
}

button:hover:not(:disabled), select:hover, option:hover {
  background: var(--ui-hover-color);
  /* color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 50%), var(--background-color) 50%); */
}

option {
  background: var(--background-color);
}

button:active:hover:not(:disabled) {
  background: var(--ui-pressed-color);
  /* color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 10%), var(--background-color) 50%); */
}

input[type="text"]:focus, select:focus {
  outline: var(--ui-focus-color);
  /* 1px solid color-mix(in srgb, var(--foreground-color), transparent 70%); */
}


.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "visualizations expressions"
    "help-buttons expressions";
  height: 100vh; 
  grid-template-rows: 30px 1fr 3em;
  grid-template-columns: 4fr 6fr; /*min(70%, 600px);*/
}

.help-buttons {
  grid-area: help-buttons;
  border-right: 2px solid #5e5e5f1a;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.header {
  display:flex;
  grid-area: header; /*Place the header in the "header" grid area */
  justify-content: space-between; /* Align the components at the start and end of the header */
  border-bottom: 4px solid #5e5e5f1a;
  .app-name {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-family: 'Ruda';
    font-weight: 500;
    margin: 3px;
  }

  .serverStatus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;
    margin: 3px;
    font-family: 'Ruda';
  }
}

.spec {
  grid-area: spec; /*Place the header in the "header" grid area */
  display: flex;
  flex-direction: column;
  /* border-bottom: 2px solid #5e5e5f1a; */
  /* probably will need to replace this border with a div */
  border-right: 2px solid #5e5e5f1a; 
  box-shadow: 0px 2px 2px 0px #ccc;
    clip-path: inset(0px 0px -4px 0px);
  /* padding-left: 5px; */
  
}
.table {
  flex-grow: 7;
  display:flex;
  flex-direction: column;
  height: 100%;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #a2b9c8;
  padding-left: 5px;
}

.expression-table {
  grid-area: expressions; /*Place the expression table in the "expressions" grid area

  padding-top: 5px;
  padding-right: 5px;
  /* overflow-y: scroll;
  scrollbar-color: var(--highlight) var(--background-color);
  scrollbar-width: thin; */
}

.grid-container > .visualizations {
  grid-area: visualizations; /* Place the visualization section in the "visualizations" grid area */
  margin-left: 10px;
  border-right: 2px solid #5e5e5f1a;
}

.grid-container > .visualization > select {
  margin-bottom: 10px;
}

/* .split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
} */


a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a {
  color: #2A6496;
  text-decoration: none;
}

.katex {
  font: normal 1em 'Ruda' !important;
}

.katex .mathnormal {
  font: normal 1em 'Ruda' !important;
}