.function-list dt {
  font-weight: bold;
  float: left;
  width: 220px;
  clear: left;
  margin: 0 2em 0em 4em;
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 1em;
}

.spec-textarea {
  width: -webkit-fill-available;
  width: -moz-available;
  font-family: "Ruda", sans-serif;
  font-size: 1em;
  font-weight: bold;
  /* height: 5em; */
  align-self: center;
}

/* Input range editor styling */
.varname {
  font-family: "Ruda", sans-serif;
  font-size: 1em;
  align-self: center;
}

.spec-range-input input {
  font-family: "Ruda", sans-serif;
  font-size: 1em;
  width: 130px;
  font-weight: bold;
}

.input-ranges-editor input {
  font-family: 'Ruda', sans-serif;
}

.input-ranges-editor input:focus-visible {
  outline: var(--action-color) auto 1px;
}

.separator, .separator-math {
  padding: 0 15px;
  font-size: 1em;
  font-family: "Ruda", sans-serif;
}

.spec-range-input {
  display: flex;
  gap: 15px;
}

.spec-range-inputs {
  text-align: center;
  margin-left: var(--left-indent);
}
/**/

.explore-button {
  align-self: flex-end;
  padding: 10px 20px;
  margin-top: 6px;
  background-color: #a6e5eb;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 7px;
  border: none,
}

.explore-button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mathjs-instructions {
  margin-top: 2em;
  font-size: smaller;
}

.function-list {
  margin-top: 7.5px;
}

.function-list dt {
  margin-bottom: 7.5px;
}
.function-list dd {
  margin-bottom: 7.5px;
}

.spec-page {
  input,
  textarea {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    font-size: smaller;
  }
}

.spec-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  padding: 10px;
  width: 750px;
  gap: 7.5px;
  font-size: 18.4px;
}

.spec-logo {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  font: bold 1.5em "Ruda", sans-serif;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.expression-input-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.spec-page hr {
  width: 100%;
  border-top: 1px solid lightgray;
}
