.spec-tex {
  /* color: black; */
  /* add space */
  margin: 10px;
  min-height: 2em;
}

.spec-range-inputs {
  min-height: 4em;
}

.spec-title {
  margin-left: 5px;
  cursor: pointer;
}
.spec-container {
  width:60%;
}
.spec-container .rewriting {
  font-size: 10px;
  margin-left: 5px;
}

/* The spec overlay */
.spec-overlay {
  position: absolute; /* Position the overlay relative to the parent */
  top: 0; /* Position the overlay at the top of the parent */
  left: 0; /* Position the overlay at the left of the parent */
  width: 100%; /* Make the overlay as wide as the parent */
  height: 100%; /* Make the overlay as tall as the parent */
  background-color: rgba(0, 0, 0, 0.5); /* Make the overlay semi-transparent */
  display: flex; /* Use flexbox to position the components */
  justify-content: center; /* Align the components at the center of the overlay */
  align-items: center; /* Align the components at the center of the overlay */
  z-index: 2; /* Make sure the overlay is on top of the other components */
}

.spec-overlay-content {
  /* background-color: #fefefe; White background */
  background-color: var(--background-color);
  border: 1px solid #888; /* Gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Add some padding */
  width: 80%; /* Make the content 80% of the overlay */
}

.spec-overlay-header {
  /* display: flex; /* Use flexbox to position the components */
  text-align:center;
  justify-content: space-between; /* Align the components at the start and end of the header */
  margin-bottom: 10px; /* Add some space between the header and the content */
}

.spec-textarea-container {
  text-align: center ;
}

.spec-title {
  display: flex;
  flex-direction: row;
  /* center items horizontally */
  justify-content: center;

}

.spec-text {
  font-family: 'Ruda', serif;
  font-size: 1em;
  padding-top:4px;
  /* overflow should be ... */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spec-tex {
  text-align: center ;
}

.spec-textarea {
  width: 50%;
  height: 5em;
}

.spec-range-input {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.spec-range-inputs {
  text-align: center;
}

.submit {
  text-align: center;
}

.spec-overlay-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}