.expressions {
  display: flex;
  flex-direction: column;
  /* put 10px space between items */
  gap: 2px;
}

.tex-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.tex-toggle .toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-checkbox:checked+.slider {
    background-color: #2196F3;
}

.toggle-checkbox:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.toggle-checkbox:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* flex container
  items float right
*/
.expression {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 6px;
  font-size: 14px;
  padding: 4px;
}

/** center buttons in the rows with no stretch */
.expression>div {
  display: flex; /** center in row */
}
.expression>div button {
  margin: auto;
}

.expression>div>a {
  margin: auto;
}

.expression-text {
  font-family: 'Ruda', serif;
  flex: 1;
  align-self: center;
  cursor: pointer;
}
.expression button {
  font-size: 10px;
}

.analysis {
  font-family: 'Ruda', serif;
  align-self: center;
}

.expression-container.selected {
  background-color: var(--highlight); /* Highlight the selected expression */
}

.expand {
  /* fix the button text width so it doesn't change when the text changes */
  /* width: 25px;
  
  max-height: 1em;
  text-align: top; */
  /* font-size: large; */
  font-size: 20px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  text-align: center;
  /* color: black; */
  margin: auto;
}

.copy {
  cursor: pointer;
}

.dropdown {
  margin-left: 7px;
  padding: 5px;
  padding-left: 9px;
  padding-top: 0px;
  /* large thick square dots on left border */
  border-left: 4px dotted #888;
  margin-bottom: 5px;
  font-size: 10px;
}

.dropdown select {
  font-size: 10px;
}
.expression-table {
  display: flex;
  flex-direction: column;
}
.expressions {
  box-shadow: 0px 2px 2px 0px #ccc;
  clip-path: inset(0px 0px -4px 0px);
}
.expressions-actual {
  overflow-y: scroll;
  padding-top: 3px;
}

.expression-container:has(.dropdown) {
  margin-bottom: 15px;
  padding-bottom: 4px;
}

.expression-table-header-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 10px;
  font-weight: bold;
  padding: 4px;
  padding-right: 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.expand-header {
  font-weight: bold;
  color: gray;
  cursor: pointer;
  font-size: 20px;
}

.checkbox-header {
  margin-left: 6px;
}
.expressions-header {
  margin-right: auto;
  margin-left: 6px;
}
.error-header {
  margin-right: 109px;
}

.add-expression {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.add-expression-button {
}

.add-expression button {
  font-size: 12px;
}

.expand-header {
  margin-left: 5px;
}

.expand {
  margin-left: 5px;
}

.dropdown {
  margin-left: 13px;
  transition: all 1s ease-in;
}
.dropdown:hover {
  cursor: pointer;
}

.add-expression .checkbox {
  margin-left: 23px;
}

.expression-container:hover {
  outline: 2px solid var(--highlight);
}
.expression-container {
  outline-offset: -2px;
  outline: 2px solid transparent;
  transition: outline .3s ease-out;
}

/* .expression-container.selected:not(:hover) {
  outline: 2px solid var(--highlight)
} */

.copy {
  opacity: 0;
  transition: opacity .1s ease-in
}

.expression-container {
  &:hover {
    .copy {
      opacity: 1;
    }
    & button {
      opacity: 1;
      transition: opacity .1s ease-in
    }
  }
  & button {
    opacity: 0;
    transition: opacity .1s ease-in
  }
}

.delete {
  font-size: 7px;
}

.expand, .expand-header {
  user-select: none;
  &:hover {
    color: color-mix(in srgb, var(--foreground-color), var(--foreground-extreme) 50%);
  }
}

.dropdown .visualization {
  margin-left: 5px;
}