@media (prefers-color-scheme: light) {
  body {
    --background-color: var(--vscode-editor-background, #f5f5f5);
    --foreground-color: var(--vscode-editor-foreground, #3c3b3b);
    --foreground-light: #a9a9a9;
    --highlight: #bcbcbc7d;
    --foreground-extreme: #000000;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--vscode-editor-background, rgb(16, 27, 37));
    --foreground-color: var(--vscode-editor-foreground, rgb(232, 232, 233));
    --foreground-light: var(--vscode-editor-foreground, #888888);
    --highlight: #bcbcbc70;
    --background-extreme: #ffffff;
  }
}
body {
  color: var(--foreground-color);
  fill: var(--foreground-color);
  background-color: var(--background-color);
  font-family: Arial;
  padding: 0px;
}

body {
  margin: 0px;
}


button, input, select, textarea {
  /* font-size: 12px; */
  background: var(--background-color);
  color: var(--foreground-color);
  border-radius: 2px;
  border-block-width: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: color-mix(in srgb, var(--foreground-color), transparent 40%);
}

input[type="checkbox"] {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}


@media (prefers-color-scheme: light)  {
  :root {
    --ui-color: #eeeeee;
    --ui-hover-color: #dddddd;
    --ui-focus-color: #dededebd;
    --ui-pressed-color: #656565;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
  /* invert the above colors */
  --ui-color: #313131;
  --ui-hover-color: #4b4b4b;
  --ui-focus-color: #1f1f1f;
  --ui-pressed-color: #a2a2a2;
  }
}

:root:has(.vscode-light) {
  --ui-color: #eeeeee;
    --ui-hover-color: #dddddd;
    --ui-focus-color: #dededebd;
    --ui-pressed-color: #656565;
    --foreground-deemphasize-color: gray;
  }
:root:has(.vscode-dark) {
  /* invert the above colors */
  --ui-color: #313131;
  --ui-hover-color: #4b4b4b;
  --ui-focus-color: #1f1f1f;
  --ui-pressed-color: #a2a2a2;
  --foreground-deemphasize-color: gray;
  }

button, select {
  background: var(--ui-color);
  /* color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 90%), var(--background-color) 50%); */
}

button:disabled {
  color: var(--foreground-light) !important;
}

button:hover:not(:disabled), select:hover, option:hover {
  background: var(--ui-hover-color);
  /* color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 50%), var(--background-color) 50%); */
}

option {
  background: var(--background-color);
}

button:active:hover:not(:disabled) {
  background: var(--ui-pressed-color);
  /* color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 10%), var(--background-color) 50%); */
}

input[type="text"]:focus, select:focus {
  outline: var(--ui-focus-color);
  /* 1px solid color-mix(in srgb, var(--foreground-color), transparent 70%); */
}


.grid-container {
  display: grid;
  grid-template-areas:
    "header expressions"
    "visualization expressions";
  height: 100vh; 
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 7fr; /*min(70%, 600px);*/
}

.header {
  grid-area: header; /*Place the header in the "header" grid area */
  display: flex; /* Use flexbox to position the components */
  justify-content: space-between; /* Align the components at the start and end of the header */
  border-bottom: 2px solid #a2b9c8;
  align-items: center;
  border-right: 2px solid #5e5e5f1a;
  padding-left: 5px;
}
.table {
  flex-grow: 7;
  display:flex;
  flex-direction: column;
  height: 100%;
}

.expression-table {
  grid-area: expressions; /*Place the expression table in the "expressions" grid area

  padding-top: 5px;
  padding-right: 5px;
  /* overflow-y: scroll;
  scrollbar-color: var(--highlight) var(--background-color);
  scrollbar-width: thin; */
}

.grid-container > .visualization {
  grid-area: visualization; /* Place the visualization section in the "visualization" grid area */
  margin-left: 10px;
  border-right: 2px solid #5e5e5f1a;
}

/* .split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
} */