


button, input, select {
  /* font-size: 12px; */
  background: var(--background-color);
  color: var(--foreground-color);
  border-radius: 2px;
  border-block-width: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: color-mix(in srgb, var(--foreground-color), transparent 40%);
}

input[type="checkbox"] {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button, select {
  background: color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 90%), var(--background-color) 50%);
}

button:hover, select:hover, option:hover {
  background: color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 50%), var(--background-color) 50%);
}

option {
  background: var(--background-color);
}

button:active:hover {
  background: color-mix(in srgb, color-mix(in srgb, var(--foreground-color), transparent 10%), var(--background-color) 50%);
}

input[type="text"]:focus, select:focus {
  outline: 1px solid color-mix(in srgb, var(--foreground-color), transparent 70%);
}


.grid-container {
  display: grid;
  grid-template-areas:
    "header expressions"
    "visualization expressions";
  height: 100vh; 
  grid-template-rows: 60px 1fr;
  grid-template-columns: 4fr min(67%, 518px);
}

.header {
  grid-area: header; /*Place the header in the "header" grid area */
  display: flex; /* Use flexbox to position the components */
  justify-content: space-between; /* Align the components at the start and end of the header */
  border-bottom: 2px solid #a2b9c8;
  align-items: center;
  border-right: 2px solid #5e5e5f1a;
}
.table {
  flex-grow: 7;
  display:flex;
  flex-direction: column;
  height: 100%;
}

.expression-table {
  grid-area: expressions; /*Place the expression table in the "expressions" grid area

  padding-top: 5px;
  padding-right: 5px;
  /* overflow-y: scroll;
  scrollbar-color: var(--highlight) var(--background-color);
  scrollbar-width: thin; */
}

.grid-container > .visualization {
  grid-area: visualization; /* Place the visualization section in the "visualization" grid area */
  margin-left: 10px;
  border-right: 2px solid #5e5e5f1a;
}

/* .split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
} */