.spec-tex {
  /* color: black; */
  /* add space */
  margin: 10px;
}

.spec {
  margin-right: 10px; /* Add some space between the Spec component and the Server Status component */
}

.spec-title {
  margin-left: 5px;
  cursor: pointer;
}
.spec-container .rewriting {
  font-size: 10px;
}

/* The spec overlay */
.spec-overlay {
  position: absolute; /* Position the overlay relative to the parent */
  top: 0; /* Position the overlay at the top of the parent */
  left: 0; /* Position the overlay at the left of the parent */
  width: 100%; /* Make the overlay as wide as the parent */
  height: 100%; /* Make the overlay as tall as the parent */
  background-color: rgba(0, 0, 0, 0.5); /* Make the overlay semi-transparent */
  display: flex; /* Use flexbox to position the components */
  justify-content: center; /* Align the components at the center of the overlay */
  align-items: center; /* Align the components at the center of the overlay */
  z-index: 2; /* Make sure the overlay is on top of the other components */
}

.spec-overlay-content {
  /* background-color: #fefefe; White background */
  background-color: var(--background-color);
  border: 1px solid #888; /* Gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Add some padding */
  width: 80%; /* Make the content 80% of the overlay */
}

.spec-overlay-header {
  display: flex; /* Use flexbox to position the components */
  justify-content: space-between; /* Align the components at the start and end of the header */
  margin-bottom: 10px; /* Add some space between the header and the content */
}

.spec-title {
  /* show the items side by side, with spacing */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.spec-field {
  margin-right: 5px;
  /*bold*/
  font-weight: bold;
  display: none;
}

.spec-text {
  font-family: 'Ruda', serif;
  font-size: 20px;
  padding-top:2px;
}